# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/

# Ignore sensitive environment variables
.env

# Docker-specific files
*.log

# Ignore OS files
.DS_Store

# Testing
/img/debug/backup
/img/debug/backup_copy
/src/lotr_temp.py
/src/image_gen.py

# Results
/img/gen